<header >
  <div class="contenedor ld ld-float-rtl-in">
     <div class="contenedor_texto">

        <div class="texto">
         <h1 class="nombre">Kevin Aguilera</h1>
         <h2 class="profesion">Desarrollador Web</h2>

        </div>

    </div>

  </div>
</header>
<section class="main ">
<section class="acerca_de ">
  <div class="contenedor ld ld-blur-in">
        <div class="foto ld ld-vortex-in">
            <img class="img" src="./assets/imagenes/fotocv.jpg" width="300" height="300">
        </div>
        <div id="quien" class="texto " >
            <h3 class="titulo">Soy Kevin Aguilera, Alumno de la UTN FRA</h3>
            <p>Desarrollador apasionado por lo que hace, siempre buscando la mejor forma para llevar a cabo mis trabajos y capacitandome constantemente para poder crecer profesionalmente. </p>
        </div>
        <hr>
        <div id="miJuego"class="texto">
          <h3 class="titulo">Descripción de mi juego</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae modi magnam, a fugit corporis quaerat asperiores consequatur enim facilis officia laborum impedit. Quia illo alias voluptatibus ducimus repellat deleniti? Ducimus.</p>
      </div>
      <hr>
  </div>
</section>

</section>



