/* You can add global styles to this file, and also import other style files */
body{
    text-align: center;
    background-color: rgb(131, 245, 207);
    background-size: auto;
    background-attachment: fixed;
    }

    .loguito{
        height: 20px;
    }